{% extends 'base.html' %}
{% block content %}
    <header class="masthead bg-index text-white text-center
py-4">
        <div class="container d-flex align-items-center flex-column pt-2">
            <h2>GT Movies Store</h2>
            <p>Limited to only GT students</p>
        </div>
    </header>
    <div class="p-3">
        <div class="container">
            <div class="row mt-3">
                <div class="col mx-auto text-center mb-3">
                    <h4>Welcome to the movie store for only GT Students!!</h4>

                  <p>
                    GT Movies Store is your premier online destination for a cinematic adventure like no other! Dive into the world of movies from the comfort of your own home with our user-friendly and immersive online movie store.

                    We provide movies at the best price for GT students. And also allows you to view high-quality reviews from other GT students before making your purchase.
                  </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}